html,
body {
  font-family: "Roboto", sans-serif;
}
#navigation {
  visibility: hidden;
  position: absolute;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #2f2f2f;
  color: white;
}
.nav p {
  padding: 0 0.5rem;
}
.nav .nav-items {
  display: flex;
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #2f2f2f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-header h1,
.hero-header h2 {
  padding: 0.5rem 0;
}
.hero-header h1 {
  font-size: 5rem;
}
.hero-header h2 {
  font-size: 2rem;
}
.hero-header p {
  font-size: 3rem;
  padding: 2rem 0;
}
.hero-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.hero-nav p {
  padding: 0 1rem;
  font-size: 1.5rem;
}
