html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #2f2f2f;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  color: #d0d0d0;
  background-color: rgba(33, 33, 33, 0.9);
}
.navigation p {
  font-size: 1rem;
  padding: 1rem 2rem;
}
.navigation h1 {
  color: white;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  margin-right: 10rem;
}
.navigation .links {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container img {
  position: absolute;
  z-index: 0;
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.text-block {
  display: flex;
  color: white;
  position: relative;
  z-index: 4;
}
.text-block h1 {
  font-size: 6rem;
}
.link-block {
  display: flex;
  color: white;
  position: relative;
  z-index: 4;
  margin-top: 2rem;
}
.link-block p {
  font-size: 1.25rem;
  padding: 1rem 3rem;
}
.prog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  overflow: hidden;
  position: relative;
}
.prog-container img {
  position: absolute;
  z-index: 0;
}
.prog-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  z-index: 4;
  color: white;
  height: 75%;
}
.prog-block .prog-boss {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prog-block .prog-boss h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.prog-block .prog-boss p {
  font-size: 1.75rem;
}
.prog-block .prog-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.prog-block .prog-links p {
  font-size: 1.75rem;
  padding: 1rem 2rem;
}
.spacer {
  width: 100%;
}
